.nav-container {
    background-color: #d4b889 !important;
    height: 100px !important;
}

.brand p {
    font-weight: bolder;
    font-size: 24px;
    color: #f7f0ea;
    margin-right: 50px;
}

.navstyle {
    margin-left: 38%;
}

.navstyle a {
    font-weight: 700;
    /* color: #f7f0ea !important; */
}